resources:
- type: compute.v1.instance
  name: {{ env["name"] }}
  properties:
     machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/{{ properties["machineType"] }}
     zone: {{ properties["zone"] }}
     networkInterfaces:
       - network: $(ref.yugabyte-network.selfLink)
         subnetwork: $(ref.{{ properties["subnetwork"] }}.selfLink)
         networkIP: $(ref.{{ properties["in-address"] }}.address)
         accessConfigs: [natIP: $(ref.{{ properties["ex-address"] }}.address)]
     disks:
      - deviceName: boot
        type: PERSISTENT
        boot: true
        autoDelete: true
        initializeParams:
          diskName: boot
          sourceImage: https://www.googleapis.com/compute/v1/projects/centos-cloud/global/images/family/centos-7
          diskSizeGb: 20
      - deviceName: yb-disk
        type: PERSISTENT
        boot: false
        autoDelete: true
        initializeParams:
           diskName: yb-disk
           diskSizeGb: 50
     metadata:
      items:
      -  key: "yb-version" 
         value: "2024.2.3.1"
      -  key: "yb-region"
         value: "us-central1"
      -  key: "replication-factor"
         value: "3"
      {% for key, value in properties['metadata-from-file'].items() %}
      - key: {{ key }}
        value: |
          {{ imports[value]|indent(10) }}
      {% endfor %}
      {% for key, value in properties['metadata'].items() %}
      - key: {{ key }}
        value: {{ value }}
      {% endfor %}
